<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<p th:text="${user.getId()}"></p>
<p th:text="${user.getUsername()}"></p>
<p th:text="${user.getFirstname()}"></p>
<p th:text="${user.getLastname()}"></p>
<a th:href="@{/users/edit(id = ${user.getId()})}">Edit user</a>
<a th:href="@{/users}">Go back</a>

<form th:method="delete" th:action="@{/users/delete(id = ${user.getId()})}">
    <input type="submit" value="Delete">
</form>

<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>